
<div id="intro">
  <h2>Respond to a Fortune, Strengthen your Presence of Mind.</h2>
  <p id="home">
    Your mind is like a muscle. It needs to be stretched and flexed.
    Open a fortune and respond. The response can be anything you like,
    but mostly a reflection on your daily observations.
    The writing coupled with a motivational idea from respected thought leader will
    reduce stress and improve mental performance.
    Seeing your mental narrative in front of your eyes and out of your head will help you
    to understand what thoughts might be speeding in and out of your mind without your persmission.
    By becoming aware of this mental hijacking of your brain you can begin to defend against it. But
    before you can defend against it you must become aware of it. Take two minutes
    to get something off your chest and begin to feel the benifits of a properly stretched mind.
  </p>
  <a href="/fortunes" class="button round">Open a Fortune</a>
  <a href="/science" class="button round">The Science</a>
</div>
