<div id="intro">
  <h1>A Gym for your mind.</h1>
  <p>
    Your mind is like a muscle. It needs to stretched and flexed.
    Open a fortune and respond. The response can be anything you like,
    but mostly a reflection on your daily observations.
    The writing coupled with a motivational idea from respected thought leader will
    reduce stress and improve mental performance. Take two minutes
    to get something off your chest and begin to feel the benifits of a properly stretched mind.
  </p>
  <a href="/science" class="button round">The Science</a>
  <a href="/fortunes/show" class="button round">Your Fortune</a>
</div>
