<section id="intro">
<h1>The Science Behind Brain Plasticity, Fortune Cookies and Writing</h1>
  <h2> note: Say something about brain plasticity in first paragraph<h2>
  <p>
    This is about changing your personal narrative.
    What area of your life can you improve?
    Do you want to be a better parent, a better spouse, a better student,
    a better businessperson, a better software developer, a better athlete,
    a better person in general, whatever it is, it can be improved. Unless you are the
    first person in human history to live with zero self doubt, you can improve
    your performance, reduce unnecessary stress and just flat out feel better through
    and daily fortune and response.
  </p>
  <p>
    In January of 2015 the <a href="http://www.nytimes.com/">New York Times</a>
    published an <a href="http://well.blogs.nytimes.com/2015/01/19/writing-your-way-to-happiness/">article</a> stating,
    <i id="long">
      "The scientific research on the benefits of so-called expressive writing is surprisingly vast.
      Studies have shown that writing about oneself and personal experiences can
      <a href="http://www.sciencedirect.com/science/article/pii/S0005789406000487">improve mood disorders</a>,
      help reduce symptoms <a href="http://jco.ascopubs.org/content/early/2014/01/21/JCO.2013.50.3532.abstract">among cancer patients</a>,
      improve a person’s health after a heart attack,
      reduce doctor visits and even <a href="http://www.ncbi.nlm.nih.gov/pubmed/11561925">boost memory</a>."
    </i>
    This certainly does sound idyllic. But the article then went on to discuss a study conducted
    at Duke University. A group of 40 struggling freshmen were split up in a control group
    and group given encouraging words from upperclassmen about grades, and encouraged to change
    there personal narrative. The results, later published in
    <a href="http://www.apa.org/pubs/journals/psp/">"The Journal of Personality and Social Psychology"</a>
    were impressive. The group given information saw a rise in gpa, and was less likely
    dropout after a year. The control group saw a 20% dropout rate in comparison to a 5%
    drop out rate.
  <p>
  <p>
    The <a href="http://well.blogs.nytimes.com/2015/01/19/writing-your-way-to-happiness/">article</a>
    then went on to discuss two studies conducted at Stanford dealing with struggling students and struggling marriages.
    In both cases the groups that took part in daily writing prompts saw improved grades and marital happiness
    respectively.
  </p>
  <p>
   <i>"Writing forces people to reconstrue whatever is troubling them and find new meaning in it"</i>
   said Dr. Wilson of the University of Virginia in the article, whose book "Redirect: Changing the Stories We Live By",
   was released near the time of the article's publication.
  <p>
  <p>
    The <a href="http://www.nytimes.com/">New York Times</a> and the various academics mentioned in the <a href="http://well.blogs.nytimes.com/2015/01/19/writing-your-way-to-happiness/">article</a>
    are not the only ones on board. Dr. Richard Kent of the University of Maine
    believes writing can be used to improve athletic performance. The desrciption for his book
    <a href="http://www.amazon.com/The-Athletes-Workbook-Season-Reflection/dp/1475174233">"The Athlete's Workbook: A Season of Sport and Reflection"</a>
    states that
    <i id="long">"Olympians and athletes like tennis star Serena Williams
    and former Red Sox great Curt Schilling, and NCAA athletic programs like Stanford, Gonzaga,
    and Duke all use writing as a way to improve performance"</i>
  </p>
  <p>
    The evidence is overwhelming. So what are you waiting for? Open your first fortune
    today and begin to track your personal narrative. You have nothing to lose and everything to gain.
  </p>
  <a href="/fortunes/show" class="button round"%>Your Fortune</a>
</section>
