<div id=fortune_link><a href="/fortunes/show"></a></div>
<section id="intro">
<h1>The Science Behind Brain Plasticity, Fortune Cookies and Writing</h1>
  <p>
    There is a never ending internal dialogue going on inside our heads.
    And more often then not, that personal narrative can slip off into directions
    that are flat out desctructive to your present well being and future successes.
    Unless you are the first person in human history to live with zero self doubt, you can improve
    your performance, reduce unnecessary stress and just flat out feel better through
    a daily fortune and response.
  </p>
  <p>
    Science has told us that <a id="hide" href="http://en.wikipedia.org/wiki/Neuroplasticity">neuroplasticity</a>
    throughout life is a fact. This means our brains are
    capable of change and learning throughtout our lives. We are always capable of
    improving patterns of thinking. The brain is like a muscle
    that can be stretched and strengthened in particular ways. By making a repeated
    effort to stretch the mind in specific ways, one can begin to better understand
    there present strength and weakness, and begin to build on them, creating a more rational, productive and happier mindset.
  </p>
  <p>
    In January of 2015 the <a id="hide" href="http://www.nytimes.com/">New York Times</a>
    published an <a href="http://well.blogs.nytimes.com/2015/01/19/writing-your-way-to-happiness/">article</a> stating,
    <br>
    <i id="long">
      "The scientific research on the benefits of so-called expressive writing is surprisingly vast.
      Studies have shown that writing about oneself and personal experiences can
      <a href="http://www.sciencedirect.com/science/article/pii/S0005789406000487">improve mood disorders</a>,
      help reduce symptoms <a href="http://jco.ascopubs.org/content/early/2014/01/21/JCO.2013.50.3532.abstract">among cancer patients</a>,
      improve a person’s health after a heart attack,
      reduce doctor visits and even <a href="http://www.ncbi.nlm.nih.gov/pubmed/11561925">boost memory</a>."
    </i>
    <br>
  </p>
  <p>
    This certainly does sound idyllic. But the article then went on to discuss a study conducted
    at Duke University. A group of 40 struggling freshmen were split up into a control group
    and group given encouraging words from upperclassmen about grades, and encouraged to change
    there personal narrative. The results, later published in
    <a id="hide" href="http://www.apa.org/pubs/journals/psp/">"The Journal of Personality and Social Psychology"</a>
    were impressive. The group given a pragmatic advise to merely not overstress about grades,
    and told to just maintain a good perspective, saw a rise in gpa, and was less likely
    dropout after a year. The control group saw a 20% dropout rate,
    while the mentally strengthend group saw only a 5% dropout rate.
  </p>
  <p>
    The <a id="hide" href="http://well.blogs.nytimes.com/2015/01/19/writing-your-way-to-happiness/">article</a>
    then went on to discuss two studies conducted at Stanford dealing with struggling students and struggling marriages.
    In both cases the groups that took part in daily writing prompts saw improved grades and marital happiness
    respectively.
   <i>"Writing forces people to reconstrue whatever is troubling them and find new meaning in it"</i>
   said Dr. Wilson of the University of Virginia in the article, whose book
   <a id="hide"  href="http://www.amazon.com/Redirect-Changing-Stories-We-Live/dp/031605190X">"Redirect: Changing the Stories We Live By"</a>,
   was released near the time of the article's publication.
  <p>
  <p>
    The <a id="hide" href="http://www.nytimes.com/">New York Times</a> and the various academics mentioned in the <a href="http://well.blogs.nytimes.com/2015/01/19/writing-your-way-to-happiness/">article</a>
    are not the only ones on board. Dr. Richard Kent of the University of Maine
    believes writing can be used to improve athletic performance. The desrciption for his book
    <a href="http://www.amazon.com/The-Athletes-Workbook-Season-Reflection/dp/1475174233">"The Athlete's Workbook: A Season of Sport and Reflection"</a>
    states:
    <br><br><i id="long">
      "Olympians and athletes like tennis star Serena Williams
      and former Red Sox great Curt Schilling, and NCAA athletic programs like Stanford, Gonzaga,
      and Duke all use writing as a way to improve performance."
    </i><br>
  </p>
  <p>
    The evidence is overwhelming. To write in a tone that brings awareness to your
    present narrative can be immensly beneficial to our daily experience.
    This is not just about future success, it is about strengthening your present mind set,
    to help you perform better not just in the future, but in this present moment.
    So what are you waiting for? Open your first fortune
    today and begin to strengthen your personal narrative.
    You have nothing to lose and everything to gain.
  </p>
  <a href="/fortunes" class="button round">Your Fortune</a>
</section>
