/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#fortune-cookie {
  background-image: url('fcookie.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 300px;
  width: 300px;
}

#fortune {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family:"Lucida Grande";
  font-size: .75em;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
  color: #FC0000;
  height: 4.5em;
  width: 30em;
}

#intro {
  background-size: cover;
  text-align: left;
  background-position: center;
  height: 100%;
  width: 100%;
}

#intro p{
  font-size: 1.25em;
  color: black;
  margin: .5em;
}

#intro h1{
  color: black;
  margin: .5em 0
}
