#intro {
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin_bottom: auto;
  padding: 0em 10em 10em 10em;
  background-position: center;
  height: 100%;
  width: 100%;
}

#intro#home p{
  font-size: 1.25em;
  color: black;
  margin: .5em;
}

#intro h1{
  color: black;
  margin: .5em 0
}

a#hide{
  text-decoration: none;
  color: black;
}
