div#user_show {
  margin-right: 10em;
  margin-left: 10em;
  text-align:left;
}

div#date {
  font-family: courier;
  text-align: right;
}

div#note {

}

.fortune {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family:"Lucida Grande";
  font-size: .75em;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
  color: #FC0000;
  height: 4.5em;
  width: 30em;
}
